<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="tort1.css">
    <title>Document</title>
</head>
<body>
    div class="container">
<div class="flip-card">
  <div class="inner">
    <div class="front">
      <img src="" width='300' alt="Daily Dev Tips" />
    </div>
    <div class="back">
      <h1>Chris Bongers</h1>
      <p>Writer, Developer</p>
      <p>Yes, I do love alpacas 🦙</p>
    </div>
  </div>
</div>
</div>





Resources
</body>
</html>